<% provide(:title, '文章') %>

<h1>文章列表</h1>
 
<table>
 
  <% @posts.each do |post| %>
    <tr>
      <td>
        <%= post.created_at.localtime.to_s(:db) %>
        <%= link_to post.title, "#{root_path}#{post.title}" %>
      </td>
      <% if cookies[:user] == "hick" %>
      <td><%= link_to '编辑', edit_post_path(post) %></td>
      <td><%= link_to '删除', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= paginate @posts %>