<% provide(:title, '文章列表') %>

<h1>最新文章列表</h1>
 

 
<ul>
  <% @posts.each do |post| %>
    <li><%= raw(post.created_at.localtime.to_s(:db)) %> <%= link_to post.title, "#{root_path}#{post.title}" %></li>
  <% end %>
</ul>

<%= link_to '查看更多文章', posts_path %> 


<h1>最新文章</h1>


<p>标题: <%= @first_title %></p>
<p>时间: <%= raw(@first_time.localtime.to_s(:db)) %></p>
<%= raw(@first_text) %>

<!-- Duoshuo Comment BEGIN -->
<div id="dscomment"></div>
<script type="text/javascript">
function toggleDuoshuoComments(container){
    var el = document.createElement('div');
    el.setAttribute('data-thread-key', 'post_<%= @first_id %>');
    el.setAttribute('data-url', 'http://blog.hickwu.com/posts/<%= @first_id %>');
    DUOSHUO.EmbedThread(el);
    jQuery(container).append(el);
}
toggleDuoshuoComments('#dscomment');
</script>
<!-- Duoshuo Comment END -->



<p>
<%= link_to '查看更多文章', posts_path %> 
</p>