<% provide(:title, '文章列表') %>

<h1>最新文章列表</h1>
 

 
<ul>
  <% @posts.each do |post| %>
    <li><%= raw(post.created_at.localtime.to_s(:db)) %> <%= link_to post.title, "#{root_path}#{post.title}" %></li>
  <% end %>
</ul>

<%= link_to '查看更多文章', posts_path %> 


<h1>最新文章</h1>


<p>标题: <%= @first_title %></p>
<p>时间: <%= raw(@first_time.localtime.to_s(:db)) %></p>
<%= raw(@first_text) %>

<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread" data-url="http://blog.hickwu.com/posts/<%= @first_id %>" data-thread-key=="post_<%= @first_id %>" data-title="<%= @first_title %>" data-image="http://blog.hickwu.com/assets/logo.gif"
    data-author-key="hick" data-form-positon="bottom" data-limit=5 data-order="desc"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"hick"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- Duoshuo Comment END -->

<p>
<%= link_to '查看更多文章', posts_path %> 
</p>