<% provide(:title, @post.title) %>

<p>
  <strong>标题:</strong>
  <%= @post.title %>
      <% if cookies[:user] == "hick" %>
      <%= link_to '编辑', edit_post_path(@post) %>
      <%= link_to '删除', post_path(@post),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
</p>
 

<p>
  <strong>时间:</strong>
  <%= @post.created_at.localtime.to_s(:db) %>
</p>
 
</p>
 
<p>
  <strong>正文:</strong>
  <%= raw(@post.text) %>
</p>

<!-- Duoshuo Comment BEGIN -->
  <div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"hick"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
    || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- Duoshuo Comment END -->


<p>
<%= link_to '查看更多文章', posts_path %> 
</p>