<% provide(:title, '显示日志') %>

<p>
  <strong>标题:</strong>
  <%= @post.title %>
      <% if cookies[:user] == "hick" %>
      <%= link_to '编辑', edit_post_path(@post) %>
      <%= link_to '删除', post_path(@post),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
</p>
 

<p>
  <strong>时间:</strong>
  <%= @post.created_at.localtime.to_s(:db) %>
</p>
 
</p>
 
<p>
  <strong>正文:</strong>
  <%= raw(@post.text) %>
</p>

<%= link_to '返回日志列表', posts_path %>