<% provide(:title, @post.title) %>

<p>
  <strong>标题:</strong>
  <%= @post.title %>
      <% if cookies[:user] == "hick" %>
      <%= link_to '编辑', edit_post_path(@post) %>
      <%= link_to '删除', post_path(@post),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
</p>
 

<p>
  <strong>时间:</strong>
  <%= @post.created_at.localtime.to_s(:db) %>
</p>
 
</p>
 
<p>
  <strong>正文:</strong>
  <%= raw(@post.text) %>
</p>

<!-- Duoshuo Comment BEGIN -->
<!-- <div class="ds-thread" data-url="http://blog.hickwu.com/posts/<%= @post.id %>" data-thread-key=="post_<%= @post.id %>" data-title="<%= @post.title %>" data-image="http://blog.hickwu.com/assets/logo.gif"
    data-author-key="hick" data-form-positon="bottom" data-limit=5 data-order="desc"></div> -->

<div id="dscomment"></div>
<script type="text/javascript">
function toggleDuoshuoComments(container){
    var el = document.createElement('div');
    el.setAttribute('data-thread-key', 'post_<%= @post.id %>');
    el.setAttribute('data-url', 'http://blog.hickwu.com/posts/<%= @post.id %>');
    DUOSHUO.EmbedThread(el);
    jQuery(container).append(el);
}
toggleDuoshuoComments('#dscomment');
</script>
<!-- Duoshuo Comment END -->



<p>
<%= link_to '查看更多文章', posts_path %> 
</p>