<% provide(:title, '显示日志') %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>En Title:</strong>
  <%= @post.entitle %>
</p>
 
<p>
  <strong>Keywords:</strong>
  <%= @post.keywords %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<%= link_to '返回日志列表', posts_path %>