<!DOCTYPE html>
<html>
<head>
  <meta name="keywords" content="hick,web,web 开发,php,ruby,python,html5,html,javascript,mysql,apache" />
  <meta name="author" content="Hick" />
  <meta name="description" content="Hick 同学的个人博客网站" />
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<script>var duoshuoQuery = {short_name:"hick"};</script>
<script src="http://static.duoshuo.com/embed.js"></script>
</head>
<body>

<div id="nav">

    <div id="nav_link">
        <%= link_to '首页', root_path %>
        <%= link_to '文章', posts_path %> 
        <%= link_to 'Web开发: WebRube', 'http://www.WebRube.com' %> 
        <% if cookies[:user] == "hick" %>
          <%= link_to '添加', new_post_path %>
        <% end %>
    </div>
</div>

<div id="body">

  <br />

  <%= yield %>

</div>

<hr >
<div id="foot">
  <p>This is <a href="http://blog.HickWu.com/">Hick</a>'s rails4blog,  <br>
  I maintain Emacs tech infomation in <a href="http://emacsist.com/" target="_blank">Emacsist</a><br>
  I also share Web tech infomation in <a href="http://www.WebRube.com/" target="_blank">WebRube(噜吧)</a>
  </p>
  You can contact me by email: hickwu at qq.com , or wechat(微信)/QQ: 3715397</p>
  <p>
    <a href="http://blog.hickwu.com/"><img border="0" src="<%=asset_path('logo.gif')%>" id="logo"></a>
  </p>

  <ul>
  <!-- <li><a href="http://www.binzywu.com" target="_blank">BinzyWu</a></li> -->
  <li><a href="http://www.yanbin.org" target="_blank">抚琴居</a></li>
  <li><a href="http://huoding.com/" target="_blank">老王</a></li>
  <li><a href="http://www.ugia.cn/" target="_blank">Legend</a></li>
  <!-- <li><a href="http://www.nioxiao.com/" target="_blank">NioXiao</a></li> -->
  <li><a href="http://xiezhenye.com/" target="_blank">神仙</a></li>
  <li><a href="http://rainx.cn/" target="_blank">RainX</a></li>
  </ul>
</div>

<% if cookies[:user] != "hick" %>
<span style="display:none;">
<script src="http://s96.cnzz.com/stat.php?id=5608610&web_id=5608610" language="JavaScript"></script>
</span>
<% end %>

<!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_qzone"></a>
<a class="bds_tsina"></a>
<a class="bds_tqq"></a>
<a class="bds_renren"></a>
<a class="bds_t163"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6138568" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<!-- Baidu Button END -->

</body>
</html>
