<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Hick</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
<%= link_to '查看日志列表', posts_path %> |  <%= link_to '添加日志', new_post_path %> 

</div>
<%= yield %>

</body>
</html>
