<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Hick</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<script>var duoshuoQuery = {short_name:"hick"};</script>
<script src="http://static.duoshuo.com/embed.js"></script>
</head>
<body>

<div id="nav">

    <div id="nav_link">
        <%= link_to '首页', root_path %>
        <%= link_to '文章', posts_path %> 
        <%= link_to 'Web开发: WebRube', posts_path %> 
        <% if cookies[:user] == "hick" %>
          <%= link_to '添加', new_post_path %>
        <% end %>
    </div>
</div>

<div id="body">

  <br />

  <%= yield %>

</div>

<hr >
<div id="foot">
  <p>This is Hick's rails4blog,  I also share the web tech infomation in my website <a href="http://www.WebRube.com/" target="_blank">WebRube(噜吧)</a></p>
  You can contact me by email: hickwu at qq.com , or wechat(微信)/QQ: 3715397</p>
  <p>
    <a href="http://blog.hickwu.com/"><img border="0" src="<%=asset_path('logo.gif')%>" id="logo"></a>
  </p>

  <ul>
  <li><a href="http://www.binzywu.com" target="_blank">BinzyWu</a></li>
  <li><a href="http://www.yanbin.org" target="_blank">抚琴居</a></li>
  <li><a href="http://huoding.com/" target="_blank">老王</a></li>
  <li><a href="http://www.ugia.cn/" target="_blank">Legend</a></li>
  <li><a href="http://www.nioxiao.com/" target="_blank">NioXiao</a></li>
  <li><a href="http://xiezhenye.com/" target="_blank">神仙</a></li>
  <li><a href="http://rainx.cn/" target="_blank">RainX</a></li>
  </ul>
</div>

<% if cookies[:user] != "hick" %>
<span style="display:none;">
<script src="http://s96.cnzz.com/stat.php?id=5608610&web_id=5608610" language="JavaScript"></script>
</span>
<% end %>
</body>
</html>
