<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Hick</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="nav">

    <div id="nav_link">
        <%= link_to '首页', root_path %>
        <%= link_to '文章', posts_path %> 
        <% if cookies[:user] == "hick" %>
          <%= link_to '添加', new_post_path %>
        <% end %>
    </div>
</div>

<%= yield %>


<hr >
<div id="foot">
  <p>Hick's rails4blog, contact me: hickwu at qq.com</p>
  <p>
    <a href="/"><img border="0" src="<%=asset_path('logo.gif')%>" id="logo"></a>
  </p>
</div>

</body>
</html>
